In [7]:
'''
Data Wrangling, I
Perform the following operations using Python on any open-source dataset (e.g., data.csv) .
Import all the required PythonLibraries.
Locate an open-source data from the web (e.g. https://www.kaggle.com). Provide a
clear description of the data and its source (i.e., URL of the web site).
Load the Dataset into pandas' dataframe.
Data Preprocessing: check for missing values in the data using pandas isnull ),
describe() function to get some initial statistics. Provide variable descriptions. Types of
variables etc. Check the dimensions of the dataframe.
Data Formatting and Data Normalization: Summarize the types of variables by
checking the data types (i.e., character, numeric, integer, factor, and logical) of the
variables in the data set. If variables are not in the correct data type, apply proper
typeconversions.
Turn categorical variables into quantitative variables inPython.
In addition to the codes and outputs, explain every operation that you do in th
'''
import pandas as pd  #importing libraries
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving StudentPerformance.csv to StudentPerformance.csv

In [8]:
df=pd.read_csv("StudentPerformance.csv")  #load into dataframe
df.head(10)

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region
0,female,71,80,63.0,92,2019.0,3,Pune
1,female,67,62,72.0,98,2021.0,3,NaN
2,male,72,84,60.0,99,2021.0,3,Nashik
3,male,94,91,NaN,99,2020.0,3,Sangli
4,male,62,92,72.0,84,2019.0,2,Nagpur
5,female,65,91,67.0,77,2020.0,2,NaN
6,female,78,82,62.0,85,2018.0,1,Nagpur
7,male,66,88,66.0,30,2019.0,1,na
8,male,69,79,71.0,76,2018.0,2,Nagpur
9,female,71,85,79.0,95,2020.0,3,Sangli

In [9]:
df.shape  #gives rows and columns

(30, 8)

In [10]:
df.dtypes  #datatype of each column

gender                    object
math_score                 int64
reading_score              int64
writing_score            float64
placement_score            int64
club_join_year           float64
placement_offer_count      int64
region                    object
dtype: object

In [11]:
df.isnull() #NAN ,None, NaT

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,False,True

In [12]:
df.isnull().sum() #null values of each column

gender                   0
math_score               0
reading_score            0
writing_score            1
placement_score          0
club_join_year           1
placement_offer_count    0
region                   7
dtype: int64

In [13]:
value=df.isnull().any().sum() #counts how many columns have atleast 1 null value
print(value)

3

In [14]:
df.isna()

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,True
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,True
29,False,False,False,False,False,False,False,True

In [15]:
value=df['region'].isnull().sum()
print(value)

value=df['region'].count()
print(value)

7
23

In [16]:
df.describe()

,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count
count,30.000000,30.000000,29.000000,30.000000,29.000000,30.000000
mean,69.600000,84.500000,69.482759,87.000000,2019.689655,2.500000
std,7.015254,6.981503,9.295240,13.245689,1.365479,0.731083
min,55.000000,62.000000,44.000000,30.000000,2016.000000,1.000000
25%,66.250000,80.000000,63.000000,84.000000,2019.000000,2.000000
50%,69.500000,85.500000,69.000000,91.000000,2020.000000,3.000000
75%,71.750000,90.000000,76.000000,94.000000,2021.000000,3.000000
max,94.000000,97.000000,95.000000,100.000000,2023.000000,3.000000

In [17]:
df.describe(include='object')

       gender  region
count      30      23
unique      2       7
top      male  Nagpur
freq       16       5

In [18]:
df.describe(include='all')

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region
count,30,30.000000,30.000000,29.000000,30.000000,29.000000,30.000000,23
unique,2,NaN,NaN,NaN,NaN,NaN,NaN,7
top,male,NaN,NaN,NaN,NaN,NaN,NaN,Nagpur
freq,16,NaN,NaN,NaN,NaN,NaN,NaN,5
mean,NaN,69.600000,84.500000,69.482759,87.000000,2019.689655,2.500000,NaN
std,NaN,7.015254,6.981503,9.295240,13.245689,1.365479,0.731083,NaN
min,NaN,55.000000,62.000000,44.000000,30.000000,2016.000000,1.000000,NaN
25%,NaN,66.250000,80.000000,63.000000,84.000000,2019.000000,2.000000,NaN
50%,NaN,69.500000,85.500000,69.000000,91.000000,2020.000000,3.000000,NaN
75%,NaN,71.750000,90.000000,76.000000,94.000000,2021.000000,3.000000,NaN
max,NaN,94.000000,97.000000,95.000000,100.000000,2023.000000,3.000000,NaN

In [19]:
df['gender'].unique()  #find unique values

array(['female', 'male'], dtype=object)

In [20]:
df.dtypes

gender                    object
math_score                 int64
reading_score              int64
writing_score            float64
placement_score            int64
club_join_year           float64
placement_offer_count      int64
region                    object
dtype: object

In [21]:
df.head(25)

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region
0,female,71,80,63.0,92,2019.0,3,Pune
1,female,67,62,72.0,98,2021.0,3,NaN
2,male,72,84,60.0,99,2021.0,3,Nashik
3,male,94,91,NaN,99,2020.0,3,Sangli
4,male,62,92,72.0,84,2019.0,2,Nagpur
5,female,65,91,67.0,77,2020.0,2,NaN
6,female,78,82,62.0,85,2018.0,1,Nagpur
7,male,66,88,66.0,30,2019.0,1,na
8,male,69,79,71.0,76,2018.0,2,Nagpur
9,female,71,85,79.0,95,2020.0,3,Sangli
10,male,55,90,66.0,92,2019.0,1,Mumbai
11,male,69,86,61.0,93,NaN,3,Aurangabad
12,female,71,87,75.0,72,2021.0,1,Pune
13,female,61,80,62.0,84,2019.0,2,Nashik
14,male,72,92,74.0,77,2019.0,2,Mumbai
15,female,70,87,44.0,85,2020.0,3,NaN
16,male,71,78,60.0,75,2016.0,2,Mumbai
17,male,71,90,62.0,92,2020.0,3,Aurangabad
18,male,67,90,76.0,87,2019.0,3,NaN
19,male,79,85,65.0,84,2019.0,2,na
20,female,67,89,80.0,95,2020.0,3,Pune
21,female,62,78,72.0,94,2019.0,3,Aurangabad
22,female,74,75,95.0,93,2021.0,3,Nagpur
23,male,68,77,64.0,90,2021.0,3,Mumbai
24,female,70,97,69.0,89,2021.0,3,Nagpur

In [22]:
df.groupby(['gender'])['region'].apply(lambda x: x.isnull().sum())

gender
female    4
male      3
Name: region, dtype: int64

In [23]:
df.groupby(['placement_offer_count'])['region'].apply(lambda x:x.isnull().sum())

placement_offer_count
1    0
2    1
3    6
Name: region, dtype: int64

In [24]:
 #Data Formatting
df['new_writing_score']=df['writing_score'].astype("Int64")
df.dtypes
#df.head()

gender                    object
math_score                 int64
reading_score              int64
writing_score            float64
placement_score            int64
club_join_year           float64
placement_offer_count      int64
region                    object
new_writing_score          Int64
dtype: object

In [25]:
from sklearn.preprocessing import MinMaxScaler   #Min-Max Normalization

scaler = MinMaxScaler()
df[['new_writing_score']] = scaler.fit_transform(df[['new_writing_score']])
df.head(10)

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region,new_writing_score
0,female,71,80,63.0,92,2019.0,3,Pune,0.372549
1,female,67,62,72.0,98,2021.0,3,NaN,0.549020
2,male,72,84,60.0,99,2021.0,3,Nashik,0.313725
3,male,94,91,NaN,99,2020.0,3,Sangli,NaN
4,male,62,92,72.0,84,2019.0,2,Nagpur,0.549020
5,female,65,91,67.0,77,2020.0,2,NaN,0.450980
6,female,78,82,62.0,85,2018.0,1,Nagpur,0.352941
7,male,66,88,66.0,30,2019.0,1,na,0.431373
8,male,69,79,71.0,76,2018.0,2,Nagpur,0.529412
9,female,71,85,79.0,95,2020.0,3,Sangli,0.686275

In [26]:
from sklearn.preprocessing import LabelEncoder   #Label Encoding

le = LabelEncoder()
df['gender_encoded'] = le.fit_transform(df['gender'])
df.head(10)

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region,new_writing_score,gender_encoded
0,female,71,80,63.0,92,2019.0,3,Pune,0.372549,0
1,female,67,62,72.0,98,2021.0,3,NaN,0.549020,0
2,male,72,84,60.0,99,2021.0,3,Nashik,0.313725,1
3,male,94,91,NaN,99,2020.0,3,Sangli,NaN,1
4,male,62,92,72.0,84,2019.0,2,Nagpur,0.549020,1
5,female,65,91,67.0,77,2020.0,2,NaN,0.450980,0
6,female,78,82,62.0,85,2018.0,1,Nagpur,0.352941,0
7,male,66,88,66.0,30,2019.0,1,na,0.431373,1
8,male,69,79,71.0,76,2018.0,2,Nagpur,0.529412,1
9,female,71,85,79.0,95,2020.0,3,Sangli,0.686275,0

In [27]:
from sklearn.preprocessing import OneHotEncoder  #one hot encoding

encoder = OneHotEncoder(sparse_output=False)   #sparse_output=False means give me a full matrix with 0s and 1s, not a compressed version.
enc_df = pd.DataFrame(encoder.fit_transform(df[['gender']]))
df=df.join(enc_df)
df.head(10)

,gender,math_score,reading_score,writing_score,placement_score,club_join_year,placement_offer_count,region,new_writing_score,gender_encoded,0,1
0,female,71,80,63.0,92,2019.0,3,Pune,0.372549,0,1.0,0.0
1,female,67,62,72.0,98,2021.0,3,NaN,0.549020,0,1.0,0.0
2,male,72,84,60.0,99,2021.0,3,Nashik,0.313725,1,0.0,1.0
3,male,94,91,NaN,99,2020.0,3,Sangli,NaN,1,0.0,1.0
4,male,62,92,72.0,84,2019.0,2,Nagpur,0.549020,1,0.0,1.0
5,female,65,91,67.0,77,2020.0,2,NaN,0.450980,0,1.0,0.0
6,female,78,82,62.0,85,2018.0,1,Nagpur,0.352941,0,1.0,0.0
7,male,66,88,66.0,30,2019.0,1,na,0.431373,1,0.0,1.0
8,male,69,79,71.0,76,2018.0,2,Nagpur,0.529412,1,0.0,1.0
9,female,71,85,79.0,95,2020.0,3,Sangli,0.686275,0,1.0,0.0

In [28]:
df_encoded = pd.get_dummies(df, columns=['gender'], drop_first=True)  #dummy variable encoding
print(df_encoded)

    math_score  reading_score  writing_score  placement_score  club_join_year  \
0           71             80           63.0               92          2019.0
1           67             62           72.0               98          2021.0
2           72             84           60.0               99          2021.0
3           94             91            NaN               99          2020.0
4           62             92           72.0               84          2019.0
5           65             91           67.0               77          2020.0
6           78             82           62.0               85          2018.0
7           66             88           66.0               30          2019.0
8           69             79           71.0               76          2018.0
9           71             85           79.0               95          2020.0
10          55             90           66.0               92          2019.0
11          69             86           61.0               93             NaN
12          71             87           75.0               72          2021.0
13          61             80           62.0               84          2019.0
14          72             92           74.0               77          2019.0
15          70             87           44.0               85          2020.0
16          71             78           60.0               75          2016.0
17          71             90           62.0               92          2020.0
18          67             90           76.0               87          2019.0
19          79             85           65.0               84          2019.0
20          67             89           80.0               95          2020.0
21          62             78           72.0               94          2019.0
22          74             75           95.0               93          2021.0
23          68             77           64.0               90          2021.0
24          70             97           69.0               89          2021.0
25          63             78           78.0               92          2019.0
26          78             85           77.0              100          2018.0
27          64             91           77.0               89          2023.0
28          74             80           78.0               94          2021.0
29          67             86           68.0               98          2021.0

    placement_offer_count      region  new_writing_score  gender_encoded    0  \
0                       3        Pune           0.372549               0  1.0
1                       3         NaN           0.549020               0  1.0
2                       3      Nashik           0.313725               1  0.0
3                       3      Sangli                NaN               1  0.0
4                       2      Nagpur           0.549020               1  0.0
5                       2         NaN           0.450980               0  1.0
6                       1      Nagpur           0.352941               0  1.0
7                       1          na           0.431373               1  0.0
8                       2      Nagpur           0.529412               1  0.0
9                       3      Sangli           0.686275               0  1.0
10                      1      Mumbai           0.431373               1  0.0
11                      3  Aurangabad           0.333333               1  0.0
12                      1        Pune           0.607843               0  1.0
13                      2      Nashik           0.352941               0  1.0
14                      2      Mumbai           0.588235               1  0.0
15                      3         NaN           0.000000               0  1.0
16                      2      Mumbai           0.313725               1  0.0
17                      3  Aurangabad           0.352941               1  0.0
18                      3         NaN           0.627451               1  0.0
19                      2          na           0.411765               1  0.0
20                      3        Pune           0.705882               0  1.0
21                      3  Aurangabad           0.549020               0  1.0
22                      3      Nagpur           1.000000               0  1.0
23                      3      Mumbai           0.392157               1  0.0
24                      3      Nagpur           0.490196               0  1.0
25                      3         NaN           0.666667               1  0.0
26                      3        Pune           0.647059               1  0.0
27                      3      Nashik           0.647059               0  1.0
28                      3         NaN           0.666667               1  0.0
29                      3         NaN           0.470588               0  1.0

      1  gender_male
0   0.0        False
1   0.0        False
2   1.0         True
3   1.0         True
4   1.0         True
5   0.0        False
6   0.0        False
7   1.0         True
8   1.0         True
9   0.0        False
10  1.0         True
11  1.0         True
12  0.0        False
13  0.0        False
14  1.0         True
15  0.0        False
16  1.0         True
17  1.0         True
18  1.0         True
19  1.0         True
20  0.0        False
21  0.0        False
22  0.0        False
23  1.0         True
24  0.0        False
25  1.0         True
26  1.0         True
27  0.0        False
28  1.0         True
29  0.0        False

In [ ]:
'''
1. Explain DataFrame with Suitable Example
A DataFrame is a 2D, tabular data structure in Pandas.
It consists of rows and columns, similar to an Excel spreadsheet or SQL table.
Each column can hold different types of data (int, float, string, etc.).

2. What is the Limitation of the Label Encoding Method?
Label Encoding assigns a unique number to each category.
⚠️ Limitation:
It may introduce an unintended ordinal relationship between categories.
✅ Example:
python
Copy
Edit
['Red', 'Blue', 'Green'] → [2, 0, 1]
The model may think Blue < Green < Red, which is wrong for nominal (unordered) data.

3. What is the Need for Data Normalization?
Normalization transforms numerical features to a common scale (usually 0–1).
🎯 Why needed?
Ensures that features with larger ranges don't dominate the learning process.
Improves the performance and convergence of ML models.
✅ Example:
Feature 1: Age (20–60), Feature 2: Salary (20,000–1,00,000)
Normalize both to 0–1 scale for fair comparison.

4. What are the Different Techniques for Handling Missing Data?
✅ Techniques:
Removing Rows:
Drop rows with missing values.
Use: df.dropna()
Filling with Mean/Median/Mode:
Replace nulls with mean/median/mode of the column.
Example: df['Age'].fillna(df['Age'].mean(), inplace=True)
Forward Fill / Backward Fill:
Propagate values forward/backward.
Example: df.fillna(method='ffill')
Using a Constant Value:
Fill missing values with a specific number (like 0 or 'Unknown').
Interpolation:
Estimate missing values based on other data points (useful for time-series).
Using Predictive Models:
Predict missing values using regression, kNN, etc. (advanced technique).

'''